*{
  margin: auto;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}



/* Top nav bar container */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  min-height: 10vh;
}

/* Top left nav bar text */
.website-logo{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.9rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}

/* Top right nav bar buttons */
.nav-buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  width: 30%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  .nav-buttons a{
    color: white;
    letter-spacing: 1px;
    font-size: 1.7rem;
    text-decoration: none;  
  }
    .nav-buttons:hover{
      color: red;
    }



/* Landing screen container */
.landing-screen{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  height: 90vh;
  background-image: url(../images/nightsky.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  display: flex;
}
.landing-screen a{
      text-decoration: none;
      text-align: center;
      align-items: center;
      display: flex;
      letter-spacing: 2px;
      width: 100%;
      font-size: 8.9rem;
      color: white;
}

/* Bottom left return to top button */
  .back-top-button{
    right: 17px;
    bottom: 0px;
    height: 100px;
    width: 110px;
    border-top-left-radius: 15px;
    padding: 20px 30px;
    position:fixed;
    border: none;
    transition: ease-out 0.2s;
    background-color: black;
  }
    .back-top-button:hover{ 
      box-shadow: inset 0 -110px 0 0 green;
      background-repeat: no-repeat;
      background-position: center;
    }


/* Header for about section */
.about-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 6.5rem;
  letter-spacing: 5px;
  display: flex;
  background-color: black;
  color: white;
  min-height: 30vh;
  align-items: center;
  justify-content: space-around;
}    

  /* main container for about me section */
  .about-me-cont{
    background-image: linear-gradient(45deg,orange, purple);
    height: 2000px;
  }

  /* About subheading */
  .about-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    padding-top: 20rem;
    padding-bottom: 12rem;
    color: white;
    letter-spacing: 4px;  
    max-width: 60ch;
    text-align: center;  
  }

/* About paragraph 1 */
.about-para-1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  padding-bottom: 100px;
  color: white;
  letter-spacing: 4px;
  max-width: 60ch;
  text-align: center
    
}

/* See below first button Container */
.a-button-container-1{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
/* About section, see more button 1 */
.see-below-1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    width: 180px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
  }
    .see-below-1:hover{
      border: 4px solid white;
    }

/* About paragraph 2 */
.about-para-2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  letter-spacing: 4px;
  max-width: 60ch;
  text-align: center;
}

/* See below second button Container */
.a-button-container-2{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
/* About section, see more button 2 */
.see-below-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    width: 180px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
  }
    .see-below-2:hover{
      border: 4px solid white;
    }



/* Title for project section */
.project-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 6.5rem;
  letter-spacing: 5px;
  display: flex;
  background-color: black;
  color: white;
  min-height: 30vh;
  align-items: center;
  justify-content: space-around; 
}    

/* Main container for project section */
.project-cont{
  background-image: url(../images/triangles.png);
  background-repeat: repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 7.5vh;
  grid-template-areas:
    "project-1 project-2 project-3"
    "project-4 project-5 project-6";
  padding-top: 10rem;
  padding-bottom: 10rem;
}
  .project-cont a{
    text-decoration: none;
    color: black;
  }

    /* Project 1 card */
    .project-1{
      border-radius: 0.5rem;
      width:550px;
      height:700px;
      background-color: rgb(245, 245, 245);
      grid-area: project-1;
    }
      .macbook-1{
        padding-top: 60px;
      }
        .project-1-title{
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 30px;
        }
          .project-1-desc{
            font-size: 1.2rem;
            max-width: 35ch;
            padding-bottom: 30px;
          }
            .p-button-container-1{
              position: relative;
              bottom: -30px;
              padding: 60px 40px;
              display: flex;
              text-align: center;
              flex-direction: row;
              justify-content: space-around;
            }
              .see-live-1{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1.3rem;
                width: 180px;
                height: 50px;
                border-radius: 0.5rem;
                color: white;
                border: none;
                transition: ease-out 0.2s;
                background-color: rgb(255, 0, 34);
              }
                .see-live-1:hover{
                  box-shadow: inset 0 -50px 0 0 green;
                }
              
              .source-code-1{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1.3rem;
                width: 180px;
                height: 50px;
                border-radius: 0.5rem;
                color: white;
                border: none;
                background-color: rgb(4, 136, 212);
              }
            

    /* Project 2 card */
    .project-2{
      border-color: black;
      border-radius: 0.5rem;
      width:550px;
      height:700px;
      background-color: rgb(245, 245, 245);
      grid-area: project-2;
    }
      .macbook-2{
        padding-top: 60px;
      }
        .project-2-title{
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 30px;
        }
          .project-2-desc{
            font-size: 1.2rem;
            max-width: 35ch;
            padding-bottom: 30px;
          }
          .p-button-container-2{
            position: relative;
            bottom: -80px;
            padding: 60px 40px;
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: row;
            justify-content: space-around;
          }
            .see-live-2{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 1.3rem;
              width: 180px;
              height: 50px;
              border-radius: 0.5rem;
              color: white;
              border: none;
              transition: ease-out 0.2s;
              background-color: rgb(255, 0, 34);
            }
              .see-live-2:hover{
                box-shadow: inset 0 -50px 0 0 green;
              }
            
            .source-code-2{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 1.3rem;
              width: 180px;
              height: 50px;
              border-radius: 0.5rem;
              color: white;
              border: none;
              background-color: rgb(4, 136, 212);
            }
            

    /* Project 3 card */
    .project-3{
      border-color: black;
      border-radius: 0.5rem;
      width:550px;
      height:700px;
      background-color: rgb(245, 245, 245);
      grid-area: project-3;
    }
      .macbook-3{
        padding-top: 60px;
      }
        .project-3-title{
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 30px;
        }
          .project-3-desc{
            font-size: 1.2rem;
            max-width: 40ch;
            padding-bottom: 30px;
          }
          .p-button-container-3{
            position: relative;
            bottom: -80px;
            padding: 60px 40px;
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: row;
            justify-content: space-around;
          }
            .see-live-3{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 1.3rem;
              width: 180px;
              height: 50px;
              border-radius: 0.5rem;
              color: white;
              border: none;
              transition: ease-out 0.2s;
              background-color: rgb(255, 0, 34);
            }
              .see-live-3:hover{
                box-shadow: inset 0 -50px 0 0 green;
              }
            
            .source-code-3{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 1.3rem;
              width: 180px;
              height: 50px;
              border-radius: 0.5rem;
              color: white;
              border: none;
              background-color: rgb(4, 136, 212);
            }

    /* Project 4 card */
    .project-4{
      border-color: black;
      border-radius: 0.5rem;
      width:550px;
      height:700px;
      background-color: rgb(245, 245, 245);
      grid-area: project-4;
    }
      .macbook-4{
        padding-top: 60px;
      }
        .project-4-title{
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 30px;
        }
          .project-4-desc{
            font-size: 1.2rem;
            max-width: 40ch;
            padding-bottom: 30px;
          }
          .p-button-container-4{
            position: relative;
            bottom: -100px;
            padding: 60px 40px;
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: row;
            justify-content: space-around;
          }
            .see-live-4{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 1.3rem;
              width: 180px;
              height: 50px;
              border-radius: 0.5rem;
              color: white;
              border: none;
              transition: ease-out 0.2s;
              background-color: rgb(255, 0, 34);
            }
              .see-live-4:hover{
                box-shadow: inset 0 -50px 0 0 green;
              }
            
            .source-code-4{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 1.3rem;
              width: 180px;
              height: 50px;
              border-radius: 0.5rem;
              color: white;
              border: none;
              background-color: rgb(4, 136, 212);
            }

    /* Project 5 card */
    .project-5{
      border-color: black;
      border-radius: 0.5rem;
      width:550px;
      height:700px;
      background-color: rgb(245, 245, 245);
      grid-area: project-5;
    }
      .macbook-5{
        padding-top: 60px;
      }
        .project-5-title{
          font-size: 2.5rem;
          font-weight: 550;
          padding-bottom: 30px;
        }
          .project-5-desc{
            font-size: 1.2rem;
            max-width: 40ch;
            padding-bottom: 30px;
          }
          .p-button-container-5{
            position: relative;
            bottom: -100px;
            padding: 60px 40px;
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: row;
            justify-content: space-around;
          }
            .see-live-5{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 1.3rem;
              width: 180px;
              height: 50px;
              border-radius: 0.5rem;
              color: white;
              border: none;
              transition: ease-out 0.2s;
              background-color: rgb(255, 0, 34);
            }
              .see-live-5:hover{
                box-shadow: inset 0 -50px 0 0 green;
              }
            
            .source-code-5{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 1.3rem;
              width: 180px;
              height: 50px;
              border-radius: 0.5rem;
              color: white;
              border: none;
              background-color: rgb(4, 136, 212);
            }

    /* Project 6 card */
    .project-6{
      border-color: black;
      border-radius: 0.5rem;
      width:550px;
      height:700px;
      background-color: rgb(245, 245, 245);
      grid-area: project-6;
    }
      .macbook-6{
        padding-top: 60px;
      }
        .project-6-title{
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 30px;
        }
          .project-6-desc{
            font-size: 1.2rem;
            max-width: 40ch;
            padding-bottom: 30px;
          }
          .p-button-container-6{
            position: relative;
            bottom: -100px;
            padding: 60px 40px;
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: row;
            justify-content: space-around;
          }
            .see-live-6{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 1.3rem;
              width: 180px;
              height: 50px;
              border-radius: 0.5rem;
              color: white;
              border: none;
              transition: ease-out 0.2s;
              background-color: rgb(255, 0, 34);
            }
              .see-live-6:hover{
                box-shadow: inset 0 -50px 0 0 green;
              }
            
            .source-code-6{
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 1.3rem;
              width: 180px;
              height: 50px;
              border-radius: 0.5rem;
              color: white;
              border: none;
              background-color: rgb(4, 136, 212);
            }

            
          
/* Title for technologies section */
.tech-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 6.5rem;
  letter-spacing: 5px;
  display: flex;
  background-color: black;
  color: white;
  min-height: 30vh;
  align-items: center;
  justify-content: space-around; 
}    

/* Main container for technologies section */
.tech-cont{
  background-image: url(../images/funky_lines.png);
  background-repeat: repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 7.5vh;
  grid-template-areas:
    "tech-1 tech-2 tech-3"
    "tech-4 tech-5 tech-6";
  padding-top: 15vh;
  padding-bottom: 15vh;
}
  .tech-cont a{
    text-decoration: none;
    color: black;
  }

    /* Tech 1 card */
    .tech-1{
      border: 3px solid gray;
      border-radius: 1rem;
      width:550px;
      height:700px;
      background-color: white;
      grid-area: tech-1;
    }
      .tech-icon-1{
        padding-top: 60px;
      }
        .tech-1-title{
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 30px;
        }
          .tech-1-desc{
            font-size: 1.2rem;
            max-width: 35ch;
            padding-bottom: 30px;
          }

    /* Tech 2 card */
    .tech-2{
      border: 3px solid gray;
      border-radius: 1rem;
      width:550px;
      height:700px;
      background-color: white;
      grid-area: tech-2;
    }
      .tech-icon-2{
        padding-top: 60px;
      }
        .tech-2-title{
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 30px;
        }
          .tech-2-desc{
            font-size: 1.2rem;
            max-width: 35ch;
            padding-bottom: 30px;
          }

    /* Tech 3 card */
    .tech-3{
      border: 3px solid gray;
      border-radius: 1rem;
      width:550px;
      height:700px;
      background-color: white;
      grid-area: tech-3;
    }
      .tech-icon-3{
        padding-top: 60px;
      }
        .tech-3-title{
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 30px;
        }
          .tech-3-desc{
            font-size: 1.2rem;
            max-width: 40ch;
            padding-bottom: 30px;
          }

    /* Tech 4 card */
    .tech-4{
      border: 3px solid gray;
      border-radius: 1rem;
      width:550px;
      height:700px;
      background-color: white;
      grid-area: tech-4;
    }
      .tech-icon-4{
        padding-top: 60px;
      }
        .tech-4-title{
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 30px;
        }
          .tech-4-desc{
            font-size: 1.2rem;
            max-width: 40ch;
            padding-bottom: 30px;
          }

    /* Tech 5 card */
    .tech-5{
      border: 3px solid gray;
      border-radius: 1rem;
      width:550px;
      height:700px;
      background-color: white;
      grid-area: tech-5;
    }
      .tech-icon-5{
        padding-top: 60px;
      }
        .tech-5-title{
          font-size: 2.5rem;
          font-weight: 550;
          padding-bottom: 30px;
        }
          .tech-5-desc{
            font-size: 1.2rem;
            max-width: 40ch;
            padding-bottom: 30px;
          }

    /* Tech 6 card */
    .tech-6{
      border: 3px solid gray;
      border-radius: 1rem;
      width:550px;
      height:700px;
      background-color: white;
      grid-area: tech-6;
    }
      .tech-icon-6{
        padding-top: 60px;
      }
        .tech-6-title{
          font-size: 2.5rem;
          font-weight: 600;
          padding-bottom: 30px;
        }
          .tech-6-desc{
            font-size: 1.2rem;
            max-width: 40ch;
            padding-bottom: 30px;
          }



/* Title for contact section */
.contact-title{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 6.5rem;
  letter-spacing: 5px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  min-height: 35vh;
  color: white;
  background-color:black ;
  display: flex;
}

/* Main container for contact section */
.contact-cont{
  background-color: rgb(238, 237, 237);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  grid-template-areas:
    "contact-1 contact-2 contact-3 contact-4";
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.contact-cont a{
  text-decoration: none;
  color: black;
}

/* contact 1 card */
.contact-1{
  border-color: black;
  border-radius: 1rem;
  width:500px;
  height:600px;
  background-color: white;
  grid-area: contact-1;
  
}

/* contact 2 card */
.contact-2{
  border-color: black;
  border-radius: 1rem;
  width:500px;
  height:600px;
  background-color: white;
  grid-area: contact-2;
  
}

/* contact 3 card */
.contact-3{
  border-color: black;
  border-radius: 1rem;
  width:500px;
  height:600px;
  background-color: white;
  grid-area: contact-3;
  
}

/* contact 4 card */
.contact-4{
  border-color: black;
  border-radius: 1rem;
  width:500px;
  height:600px;
  background-color: white;
  grid-area: contact-4;
  
}

/* Main container for footer nav bar */
.footer-nav{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 5vh;
  background-color: black;
  text-align: center;
  display: flex;
  list-style: none;
  
}
.footer-nav a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
}

/* Footer nav buttons */
.footer-buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  width: 30%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Nav menu for mobile drop down */
.mobile-menu div{
  background-color: white;
  margin: 7px;
  width: 30px;
  Height: 4px;
}

.mobile-menu{
  display: none;
}

/* Main sections containers responsive adjustment */
@media screen and (max-width:800px){
  .project-cont{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "project-1"
    "project-2"
    "project-3" 
    "project-4"
    "project-5"
    "project-6";
    grid-gap: 10rem;
  }
  .tech-cont{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "tech-1"
    "tech-2"
    "tech-3"
    "tech-4"
    "tech-5"
    "tech-6";
    grid-gap: 10rem;
  }
  .contact-cont{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "contact-1"
    "contact-2"
    "contact-3" 
    "contact-4";
    grid-gap: 10rem;
  }
}



/* Top nav buttons responsive adjustment */
@media screen and (max-width:1024px){
  .nav-buttons{
  width:65%;
  }
}

/* Top nav buttons responsive adjustment */
@media screen and (max-width:800px){
  body{
    overflow-x: hidden;
  }

  .nav-buttons{
    position: absolute;
    display: flex;
    right: 0px;
    height: 92vh;
    width: 40%;
    top: 10vh;
    flex-direction: column;
    align-items: center;
    background-color: black;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

    .nav-buttons{
      opacity: 0;
    }
    
    .mobile-menu{
      display: block;
    }

    .nav-active{
      transform: translateX(0%);
    }
}


html ,body{
  width: 100%;
  height:100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}