*{
  margin:0;
  padding:0;
  
}



a:hover{
  color: blanchedalmond;
}



nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  min-height: 9vh;
}



.website-logo{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}



.nav-buttons{
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;
  width: 40%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-buttons a{
  color: white;
  letter-spacing: 1px;
  font-size: 25px;
  text-decoration: none;
  
}



.landing-screen{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 500px;
  justify-content: center;
  background-image: url(../images/nightsky1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  display:flex;
}

.landing-screen a{
      text-decoration: none;
      text-align: center;
      align-items: center;
      display: flex;
      letter-spacing: 2px;
      width: 100%;
      font-size: 150px;
      color: white;
}



.back-to-top{
  position: fixed;
  text-align: center;
  right: 0px;
  bottom: 0px;
  background-color: black;
  padding: 20px 30px;
  background-size: cover;
}



.about-me{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  display: flex;
  background-color: black;
  min-height: 30vh;
  text-align: left;
  align-items: center;
  justify-content: space-around;
}
    
.about-me a{
  text-decoration: none;
  color: white;
}

.about-me-cont{
  background-image: linear-gradient(purple, orange);

}

.about-into{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  height: 50vh;
  width: 50vh;
  color: white;
  letter-spacing: 1px;
    
}



.project{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  min-height: 35vh;
  background-color: white;
  display:flex;
}

.project a{
    text-decoration: none;
    color: black
}



.tech-skill{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  min-height: 35vh;
  background-color: white;
  display:flex;
}

.tech-skill a{
      text-decoration: none;
      color: black
}



.endorsements{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100px;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  min-height: 35vh;
  background-color: black;
  display:flex;
}

.endorsements a{
    text-decoration: none;
    color: white;
}



.mobile-menu div{
  background-color: white;
  margin: 7px;
  width: 30px;
  Height: 4px;
}

.mobile-menu{
  display:none;
}

@media screen and (max-width:1024px){
  .nav-buttons{
  width:65%;
  }
}

@media screen and (max-width:800px){
  body{
    overflow-x: hidden;
  }

  .nav-buttons{
    position:absolute;
    display: flex;
    right:0px;
    height: 92vh;
    width: 40%;
    top: 10vh;
    flex-direction: column;
    align-items: center;
    background-color: black;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

    .nav-buttons{
      opacity: 0;
    }
    
    .mobile-menu{
      display: block;
    }

    .nav-active{
      transform: translateX(0%);
    }
}